<p>
  App works!!
</p>

<!-- You can now use your library component in app.component.html -->
<div class="container my">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide" (click)="display(i)">
      <img src="{{ slide.img }}" alt="" height="250px" width="100%">
      <p>
        May indulgence difficulty ham can put especially. Bringing remember for supplied her why was confined. Middleton principle did she procuring extensive believing add. Weather adapted prepare oh is calling. These wrong of he which there smile to my front. He fruit oh enjoy it of whose table. Cultivated occasional old her unpleasing unpleasant. 
      </p>
    </div>
  </ngx-slick>
  <button (click)="addSlide()">Add</button>
  <button (click)="removeSlide()">Remove</button>
  <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
  <button (click)="slickModal.unslick()">unslick</button>
</div>
<!-- <slick dots="true" infinite="false" speed="300" slides-to-show="5" touch-move="false" slides-to-scroll="1">
  ...
</slick> -->

<!-- <slick infinite=true slides-to-show=3 slides-to-scroll=3>
  ...
  </slick> -->

  <p>Mahesh ajsdjjnkjasnkjdA:SKSJKj</p>
<!-- <app-slick class="my1"></app-slick> -->

<div>
  ng-slick Count: {{count}}
  <img src="{{ slides[count].img }}" alt="" height="50px" width="30%">
  
  <ul *ngIf="sample">
    <li *ngFor="let app of sample">
       {{app.body}}
       {{app.profile.username}}
       {{app.rating}}
    </li>
 </ul>
</div>